# Movie Metadata

In [209]:
#https://www.kaggle.com/rounakbanik/the-movies-dataset/data?select=ratings.csv - Origin of data
#importing necessary libraries
import pandas as pd
import numpy as np

In [210]:
#loading necessary csv files
movies_md=pd.read_csv('movies_metadata.csv')
ratings=pd.read_csv('ratings.csv')

/Users/carlosruiz/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [211]:
#dropping uncessesary columns
movies_md.drop(['belongs_to_collection','homepage','original_language','original_title','poster_path','status','tagline','video'],axis=1,inplace=True)

In [212]:
#removing adult movies
movies_md.drop(list(movies_md.loc[movies_md['adult']=='True'].index),axis=0,inplace=True)
movies_md.drop('adult',axis=1,inplace=True)

In [213]:
#removing unecessry null values
movies_md.dropna(axis=0,how = 'any', subset= ['production_companies','title'],inplace= True )

In [214]:
def namefix(values):
    """
    namefind(list)
    
    Namefind takes in a list of dictionaries and returns the name key of said dictionary as an ordered list and appends 
    the list of values to the list provied. 
    
    x=[{'id': 1, 'name': 'Michael'}, {'id': 2, 'name': 'Sam'}, {'id': 3, 'name': 'Fangfang'}]
    namefind(x)
    x=['Michael','Sam','Fangfang']
    
    
    """
    hold=[]
    for a in range(len(values)):
        for i in range(len(values[a])):
            hold.append(values[a][i]['name'])
        values[a]=hold
        hold=[]

In [215]:
#cleaning columns and assigning values

ids= [int(key) for key in movies_md.id]
#movies_md.id=ids

produ_count= [eval(key) for key in movies_md.production_countries]
#namefind(produ_count)

language=[eval(key) for key in movies_md.spoken_languages]
#namefind(language)

production= [eval(key) for key in movies_md.production_companies]
#namefind(production)

gen = [eval(key) for key in movies_md.genres]
#namefind(gen)

In [216]:
#assigning new values to respective columns

movies_md.spoken_languages=language

movies_md.production_countries=produ_count

movies_md.genres=gen

movies_md.production_companies=production

In [217]:
movies_md.head()

,budget,genres,id,imdb_id,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,title,vote_average,vote_count
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,"Led by Woody, Andy's toys live happily in his ...",21.9469,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Toy Story,7.7,5415.0
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,When siblings Judy and Peter discover an encha...,17.0155,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,104.0,"[English, Français]",Jumanji,6.9,2413.0
2,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,tt0113228,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,101.0,[English],Grumpier Old Men,6.5,92.0
3,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,"Cheated on, mistreated and stepped on, the wom...",3.85949,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,81452156.0,127.0,[English],Waiting to Exhale,6.1,34.0
4,0,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,Just when George Banks has recovered from his ...,8.38752,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,76578911.0,106.0,[English],Father of the Bride Part II,5.7,173.0

In [218]:
#reorganizing columns and rows more cohesively
column_titles=['id','title','imdb_id','genres','overview','release_date','runtime','popularity','vote_count','vote_average','budget','revenue','production_companies','production_countries','spoken_languages']
movies_md=movies_md.reindex(columns=column_titles)
movies_md.reset_index(inplace=True)
movies_md.head()

,index,id,title,imdb_id,genres,overview,release_date,runtime,popularity,vote_count,vote_average,budget,revenue,production_companies,production_countries,spoken_languages
0,0,862,Toy Story,tt0114709,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","Led by Woody, Andy's toys live happily in his ...",1995-10-30,81.0,21.9469,5415.0,7.7,30000000,373554033.0,[Pixar Animation Studios],[United States of America],[English]
1,1,8844,Jumanji,tt0113497,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",When siblings Judy and Peter discover an encha...,1995-12-15,104.0,17.0155,2413.0,6.9,65000000,262797249.0,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],"[English, Français]"
2,2,15602,Grumpier Old Men,tt0113228,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",A family wedding reignites the ancient feud be...,1995-12-22,101.0,11.7129,92.0,6.5,0,0.0,"[Warner Bros., Lancaster Gate]",[United States of America],[English]
3,3,31357,Waiting to Exhale,tt0114885,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","Cheated on, mistreated and stepped on, the wom...",1995-12-22,127.0,3.85949,34.0,6.1,16000000,81452156.0,[Twentieth Century Fox Film Corporation],[United States of America],[English]
4,4,11862,Father of the Bride Part II,tt0113041,"[{'id': 35, 'name': 'Comedy'}]",Just when George Banks has recovered from his ...,1995-02-10,106.0,8.38752,173.0,5.7,0,76578911.0,"[Sandollar Productions, Touchstone Pictures]",[United States of America],[English]

In [219]:
#end

In [126]:
movies_md.to_csv('movies_md.csv', index=False)

In [63]:

df1=movies_md[['id','title']]
df1.size

90902

In [64]:
df2=ratings[['movieId','rating']]
df2.columns=['id', 'rating']
df2.size

52048578

In [65]:
df3=pd.merge(df1,df2, on='id', how )

SyntaxError: positional argument follows keyword argument (<ipython-input-65-2828195966cf>, line 1)

In [66]:
df3.head(10)

    id      title  rating
0  862  Toy Story     3.0
1  862  Toy Story     5.0
2  862  Toy Story     1.0
3  862  Toy Story     4.0
4  862  Toy Story     4.0
5  862  Toy Story     3.0
6  862  Toy Story     3.0
7  862  Toy Story     4.0
8  862  Toy Story     4.0
9  862  Toy Story     4.0

In [68]:
df2.loc[df2['id']==862]

           id  rating
184624    862     3.0
200490    862     5.0
524001    862     1.0
610887    862     4.0
643892    862     4.0
...       ...     ...
25788364  862     4.0
25798428  862     3.0
25814740  862     2.0
25980015  862     4.0
26001292  862     4.0

[374 rows x 2 columns]

In [72]:
ratings.loc[ratings.movieId==862]

          userId  movieId  rating  timestamp
184624      1923      862     3.0  858335006
200490      2103      862     5.0  946044912
524001      5380      862     1.0  878941641
610887      6177      862     4.0  859415226
643892      6525      862     4.0  857388995
...          ...      ...     ...        ...
25788364  268336      862     4.0  955427492
25798428  268391      862     3.0  856529977
25814740  268568      862     2.0  943826734
25980015  270422      862     4.0  941664133
26001292  270654      862     4.0  976204090

[374 rows x 4 columns]

In [73]:
ratings2=pd.read_csv('ratings_small.csv')

In [74]:
ratings2.loc[ratings2.movieId==862]

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

In [114]:
movies_md['genres'][2]

[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]

Empty DataFrame
Columns: [budget, genres, id, imdb_id, overview, popularity, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, title, vote_average, vote_count]
Index: []